.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .pic {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #274666;
    border-radius: 50%;
    position: relative
  }

  .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #274666;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    animation: wave 1.5s infinite linear
  }

  .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%
  }

  .bg_cne {
    background: #274666 !important;
    border: 1px solid #2c5b66;
  }

  .bg_cne:hover {
    background: #ffffff !important;
    border: 1px solid #f2f2f2 !important;
    color: #274666 !important;

  }

  @keyframes wave {
    to {
      transform: scale(1.5);
      opacity: 0
    }
  }


  @keyframes move_wave {
    0% {
      transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
    }
  }

  .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #6dd5ed 20%, #2193b0 80%);
  }

  .bgTop {
    z-index: 15;
    opacity: 0.5;
  }

  .bgMiddle {
    z-index: 10;
    opacity: 0.75;
  }

  .bgBottom {
    z-index: 5;
  }

  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }

  .waveTop {
    background-size: 50% 100px;
  }

  .waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .waveMiddle {
    background-size: 50% 120px;
  }

  .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
  }

  .waveBottom {
    background-size: 50% 100px;
  }

  .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
  }